body {
    background-color: #ffdf91;
    font-family: 'Hachi Maru Pop', cursive;
    text-align: center;
    font-size: 13px;
}

button {
    color: #3a3838;
    border-radius: 5px;
    border-color: tomato;
    border-width: 3px;
    font-family: 'Hachi Maru Pop', cursive;
    font-weight: bold;
    font-size: 27px;
    background-color: transparent;
    text-align: center;
    text-shadow: slategray;
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
    width: 150px;
    height: 150px;
}

.w {
    background-image: url(images/cow.png);
    background-position: center;
    background-size: 100%;
}

.a {
    background-image: url(images/cat.png);
    background-position: center;
    background-size: 100%;
}

.s {
    background-image: url(images/duck.png);
    background-position: center;
    background-size: 100%;
}

.j {
    background-image: url(images/horse.png);
    background-position: center;
    background-size: 100%;
}

.k {
    background-image: url(images/rooster.png);
    background-position: center;
    background-size: 100%;
}

.l {
    background-image: url(images/sheep.png);
    background-position: center;
    background-size: 100%;
}

footer {
    position: static;
    width: 100%;
    background-color: transparent;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}